* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.navimg{
    height: 100px;
    width: 200px;
}
.nav-bar{
    background-color: #272525;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu li:hover{
    cursor: pointer;
    color: aqua;
    
}

/* first banner Section */
.first-banner {
    height: 90vh;
    background-color: #E554731A;
    background-image: url('./Flower Asset/pngwing 10.png');
    background-repeat: no-repeat;
    background-position: bottom right 220px;
    background-size: 400px;
}

.text {
    padding-left: 150px;
    padding-top: 70px;
    width: 50%;
}

.btn {
    padding: 13px 25px;
    border-radius: 6px;
    background-color: #E55473;
    color: white;
    border: none;
}

.text-description {
    margin: 25px 0px;
    color: rgb(107, 105, 105);
    width: 85%;
    font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
    opacity: 0.8;
}

.text-tittle {
    font-size: 50px;
    font-weight: bold;
}

.flower-box{
    background-color: #A7216226;
    width: 310px;
    height: 380px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box2{
    background-color: #0597A026;
}
.box3{
    background-color: #477D1126;
}

.pic{
    width: 215px;
    position: absolute;bottom: 0px;left: 50px;
}
.pic2{
    position: absolute;bottom: 25px;left: 40px;
    width: 270px;
}
.image-text{
    text-decoration: underline;
}

.main-box{
    text-align: center;
}

.all-boxes{
    display: flex;
    justify-content: center;
    gap: 28px;
}
.second-banner{
    text-align: center;
    height: 90vh;
    width: 73%;
    margin: auto;
    padding: 80px 0px;
}
.banner-description{
    padding: 20px 0px;
    width: 60%;
    margin: auto;
    opacity:0.5;
}
.mini-section{
    background-color: #2727270D;
    display: flex;
    gap: 60px;
    justify-content: center;
    width: 73%;
    margin: auto;
}
.text-image{
    text-align: center;
    color: rgb(80, 79, 79);
    padding: 40px 0px;
    font-size: 15px;
}
.red{
    color: red;
}
.flower-tob{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #E554730D;
    height: 55vh;
    margin: 70px auto;
    position: relative;
}
.tob{
    width: 190px;
}
.text2{
    width: 40%;
    position: absolute;
    text-align: center;
    left:210px;
}
.img{
    position: absolute;
    right: 300px;
}
.tob-description{
    padding: 20px 0px;
    color: rgb(80, 79, 79);
    font-size: 14px;
    opacity:0.8;
}
.four-rectangle{
    width: 73%;
    text-align: center;
    margin: auto;
}
.recpic{
    width: 242px;

}
.all-rectangle{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.last-section{
    width: 73%;
    height: 55vh;
    text-align: center;
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-size: cover;
    margin: 70px auto;
}
.lsection{
    padding: 100px 0px;
    /* display: flex;
    align-items: center; */
}
.lsection input{
    width: 100%;
    font-size: 30px;
    margin: auto;
    border-radius: 3px;
    border: none;  
}
.form{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.email{
    width: 500px;

}
input::placeholder{
    font-size: 12px;
    opacity: 0.8;
    text-align: left;
}
.footer{
    background-color: #111010;
    text-align: center;
    color: rgb(160, 156, 156);
    padding: 80px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.shop{
    color:white;
}
.flower{
    color:#E55473;
}
.footer-description{
    font-size: 12px;
    width: 30%;
    margin: auto;
    padding: 20px 0px;
}
.fit{
    margin-top: 10px;
    margin-right: 10px;
}
.logo{
    padding-left: 80px;
}
.footer-text{
    padding-right: 240px;
}
.fit:hover{
    cursor: pointer;
    background-color: white;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}